{% extends "base-xyno.html" %}
{% block head2 %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $('#inputForm').trigger('reset');

    $('#tblx').DataTable({
      'iDisplayLength': 100,
      "lengthMenu": [10, 25, 50, 75, 100, 500, 1000],
      'order': [
        [0, 'asc']
      ],
    });
  });
  function edit1(btndel) {
    if (typeof(btndel) == "object") {
        $('#id_item').val($(btndel).closest("tr").find('td:eq(0)').children('b').text());
        $('#id_item').attr('readonly','true');
        $('#reload1').remove();
        $('#id_item').after('&nbsp;&nbsp;<button id="reload1" onclick="$(\'#inputForm\').trigger(\'reset\');"><i class="fa fa-times"></i></button>');
        $('#id_price_per_unit').val($(btndel).closest("tr").find('td:eq(1)').text());
        $('#id_base_unit').val($(btndel).closest("tr").find('td:eq(2)').text());
        $('#id_gst_rate').val($(btndel).closest("tr").find('td:eq(3)').text());
        //$('#id_units_available').val($(btndel).closest("tr").find('td:eq(4)').text());
        $('#id_gst_included option:contains('+$(btndel).closest("tr").find('td:eq(4)').text()+')').attr('selected','selected');
    } else {
        return false;
    }
}

</script>

{% endblock %}

{% block maindiv %}

<h3>
  Add New Items:
</h3>
<div class="row">
  <div class="col-md-6">
    <div class="ui-widget">
      <form action="" method="post" id="inputForm">
        {% csrf_token %}
        <table>
          <input id="reload1" style="display:none" />
          {{ form }}
        </table>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
</div>

<br>
<hr>

<h2>
  Inventory:
</h2>

<div>
  <table border="1" style="background-color: white;" id="tblx" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Item</th>
        <th>Unit Price</th>
        <th>Unit</th>
        <th>GST Rate %</th>
        <th>GST Details</th>
        <th>Stock</th>
      </tr>
    </thead>
    <tbody>
      {% for item in result %}
      <tr>
        <td><b>{{ item.item }}</b><a href="#inputForm"><span class="badge badge-primary" style="float:right" onclick=edit1(this)><i class="fa fa-edit"></i>edit</span></a></td>
        <td><i class="fa fa-inr"></i>{{ item.price_per_unit }}</td>
        <td>{{ item.base_unit }}</td>
        <td>{{ item.gst_rate }}%</td>
        <td>{% if item.gst_included %}GST Included{% else %}GST Extra{% endif %}</td>
        <td>{{ item.units_available }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
