{% extends "base-xyno.html" %}
{% block head2 %}
{% load custom_tags %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></script>

<script type="text/javascript">

  var currid = "";

  function showmodal(id) {
    $.ajax({
      type: "GET",
      url: `https://dashboard.manxho.co.in/api/users/order/${id}/`,
      xhrFields: {
        withCredentials: true
      },
      dataType: "json",
      success: function (data) {
        // Create table headers
        var table = "<table>";
        // Get user info
        var user = data.user;
        var name = user.first_name + " " + user.last_name;
        var phone = data.shippingAddress.phone_number;
        var email = user.email;
        // Get order info
        var orderId = data.id;
        var orderItems = data.orderItems;
        var price = data.totalPrice;
        var deliveryPrice = data.shippingPrice;
        currid = id;
        $("#ostatus").val(data.status);
        $("#courierdata").val(data.courierInfo); 

        if (data.status != "dispatched"){
          $("#courier").hide();
        }
        else {          
          $("#courier").show();
        }

        // Create table rows
        var row = "<tr><td>Name:</td><td> " + name + "</td></tr><tr><td>Phone: </td><td> " +
          phone + "</td></tr><tr><td>Email: </td><td> " + email + "</td></tr><tr><td>OrderId: </td><td> " + orderId + "</td></tr><b>";
        for (var i = 0; i < orderItems.length; i++) {
          row += "<b> <tr class='data'><td><b>Item #" + (i + 1) + ": </b>" + orderItems[i].name + " Qty: " + orderItems[i].qty + " </td><td>Price:  Rs. " + orderItems[i].price + "</td></tr> </b>";
        }
        row += "</td></tr><tr><td>Delivery Price: </td><td> Rs. " + deliveryPrice + "</td></tr><tr><td>Coupon Used: </td><td>" + data.coupon + "</td></tr><tr><td>Total Price paid after discount: </td><td> Rs. " + price + "</td></tr>";
        // Add rows to table
        table += row + "</table><br>";
        // Display table in modal

        $("#order-modal-body").html(table);
        $("#order-modal").modal("show");
      }
    });
  }

  function submitform() {
    if ($("#ostatus").val() == "dispatched" || $("#ostatus").val() == "cancelled")! {
      $.ajax({
        type: "POST",
        url: 'https://dashboard.manxho.co.in/api/edit_order_status/',
        headers: {
          "X-CSRFToken": jQuery("[name=csrfmiddlewaretoken]").val(),
        },
        data: {
          "csrfmiddlewaretoken": $("[name=csrfmiddlewaretoken]").val(),
          "new_status": $('#ostatus').val(),
          "order_id": currid
        },
        dataType: "json",
        success: function (data) {
          $('#form2').submit();
          //console.log(data)
        }
      });
    }

    else {
      $.ajax({
        type: "POST",
        url: 'https://dashboard.manxho.co.in/api/edit_order_status/',
        headers: {
          "X-CSRFToken": jQuery("[name=csrfmiddlewaretoken]").val(),
        },
        data: {
          "csrfmiddlewaretoken": $("[name=csrfmiddlewaretoken]").val(),
          "new_status": $('#ostatus').val(),
          "courier-info": $("#courierdata").val(),
          "order_id": currid
        },
        dataType: "json",
        success: function (data) {
          $('#form2').submit();
          //console.log(data)
        }
      });
    }
  }




  $(document).ready(function () {

    $.fn.dataTable.moment('MMM DD, YYYY');
    $('#tblx').DataTable({
      'iDisplayLength': 500,
      "lengthMenu": [10, 25, 50, 75, 100, 500, 1000],
      'order': [
        [0, 'desc']
      ],
    });

    $("#courier").hide();

    $('#ostatus').change(function () {
      var selectedValue = $(this).val();
      if (selectedValue == 'dispatched' || selectedValue == 'cancelled') {
        $("#courier").show();
        if (selectedValue == 'cancelled'){
          $("#inputag").text("Cancellation Note: ");
        }
        else{
          $("#inputag").text("Courier/Consigment Details:  ");
        }
      } 
      
      else {
        $("#courier").hide();
      }
    });

  });
</script>

<style>
  .data,
  .data td {
    border: 1px solid #444;
  }
</style>

{% endblock %}

{% block maindiv %}

<h3>
  {{ status }}Orders:
</h3>

<div>
  <table border="1" style="background-color: white;" id="tblx" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Date</th>
        <th>Customer</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Status</th>
        <th>Total Price</th>
        <th>{% if status == "Cancelled" %} Cancellation Note {% else %} Delivery Info {% endif %}</th>
      </tr>
    </thead>
    <tbody>
      {% for item in data %}

      <tr>
        <td onclick=showmodal({{ item|pk }}) style="color: blue">{{ item|pk }}</td>
        <td>{{ item.created_at }}</td>
        <td>{{ item.user.first_name }} {{ item.user.last_name }}</td>
        <td>{{ item.shippingaddress.phone_number }}</td>
        <td>{{ item.shippingaddress.address }},<br> {{ item.shippingaddress.city }}, {{ item.shippingaddress.state }},
          {{ item.shippingaddress.zipcode }}
        </td>
        <td>{{ item.status }}</td>
        <td>{{ item.totalPrice }}</td>
        <td>{{ item.courierInfo }}{% if item.isDelivered %}<br>Delivered{% endif %} </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>

</div>

<!-- The Modal -->
<div class="modal" id="order-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Edit Info</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div>
        <form id="form2" method="post">
          {% csrf_token %}
          <div id="order-modal-body">


          </div>
          <span>Order Status: </span>
          <select id="ostatus">
            <option value="order_confirmed">Confirmed</option>
            <option value="dispatched">Dispatched</option>
            <option value="cancelled">Cancelled</option>
            <option value="processing">Processing</option>
            <option value="completed">Completed</option>
          </select>
          <br>
          <div id="courier">
            <span id="inputag">Courier/Consigment Details:</span>
            <input id="courierdata" type="text" value="" />
            <br>
          </div>
          <br>

          <button type="button" class="btn btn-info rightp" onclick=submitform()>Update Order</button>
      </div>

    </div>
  </div>
</div>
{% endblock %}